<div class="min-w-[400px] max-w-md p-4 flex flex-col justify-between gap-2 bg-white my-2 rounded-xl p-2 drop-shadow-md">
  <div class="flex flex-col gap-2">
    <div class="w-full flex items-center gap-4 mb-4">
      <div class="-ml-8 -mt-8 flex-2 w-20 h-20 bg-blue-700 rounded-xl flex items-center justify-center">
        <span class="text-white text-4xl"><%= owner.get_initials %></span>
      </div>

      <div class="-mt-2 flex-1 w-full flex flex-col">
        <span class="text-gray-500 font-light">Pagante:</span> 

        <span class="text-3xl"><%= owner.name.capitalize %></span>

        <hr />
      </div>
    </div>

    <% owner.group_by_same_title.each do |debit| %>
      <%= render 'months/debit_per_owner', month: month, debit: debit %>
    <% end %>
  </div>

  <div class="mt-10">
    <span class="text-gray-500 font-light uppercase">Total:</span> 

    <h3 id="total_owner-<%= owner.id %>" class="font-semibold">
      <%= number_to_currency(owner.debit_not_paid.sum { |e| e.price }, unit: 'R$ ') %>
    </h3>
  </div>
</div>
