<%= render 'layouts/header' %>

<div class="w-full h-2/3 flex flex-col justify-center items-center">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% unless @months.empty? %>
    <% @months.each do |month| %>
      <div class="w-2/3 flex items-center justify-between">
        <%= link_to month_path(month), class: "w-full bg-gray-200 rounded-lg p-5 mb-2 flex items-center justify-center" do %>
          <div><%= month.name %></div>
          <% unless month.debit.empty? %>
            <div>
              &nbsp;|
              Total: <%= number_to_currency(month.total, unit: 'R$ ') %>
            <% month.total_per_owner.each do |d| %>
              |&nbsp;<%= d[:owner] %>: <%= number_to_currency(d[:total], unit: 'R$ ') %>
          <% end %>
            </div>
          <% end %>
        <% end %>
        <%= link_to month_path(month), data: { "turbo-method": :delete } do %>
          <svg width="50" height="50" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 7C6.55228 7 7 7.44772 7 8V19C7 19.5523 7.44772 20 8 20H16C16.5523 20 17 19.5523 17 19V8C17 7.44772 17.4477 7 18 7C18.5523 7 19 7.44772 19 8V19C19 20.6569 17.6569 22 16 22H8C6.34315 22 5 20.6569 5 19V8C5 7.44772 5.44772 7 6 7Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 8C10.5523 8 11 8.44772 11 9V17C11 17.5523 10.5523 18 10 18C9.44772 18 9 17.5523 9 17V9C9 8.44772 9.44772 8 10 8Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14.5523 8 15 8.44772 15 9V17C15 17.5523 14.5523 18 14 18C13.4477 18 13 17.5523 13 17V9C13 8.44772 13.4477 8 14 8Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C4 4.44772 4.44772 4 5 4H19C19.5523 4 20 4.44772 20 5C20 5.55228 19.5523 6 19 6H5C4.44772 6 4 5.55228 4 5Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 3C8 2.44772 8.44772 2 9 2H15C15.5523 2 16 2.44772 16 3C16 3.55228 15.5523 4 15 4H9C8.44772 4 8 3.55228 8 3Z" fill="black"/>
          </svg>
        <% end %>
        <%= link_to edit_month_path(month) do %>
          <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.548,3.452a1.542,1.542,0,0,1,0,2.182L12.912,13.27,9.639,14.361l1.091-3.273,7.636-7.636A1.542,1.542,0,0,1,20.548,3.452ZM4,21H19a1,1,0,0,0,1-1V12a1,1,0,0,0-2,0v7H5V6h7a1,1,0,0,0,0-2H4A1,1,0,0,0,3,5V20A1,1,0,0,0,4,21Z"/></svg>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
