<%= form_with(model: debit, class: "contents") do |form| %>
  <% if debit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(debit.errors.count, "error") %> prohibited this debit from being saved:</h2>

      <ul>
        <% debit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, list: "debit_title_name", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <datalist id="debit_title_name">
      <% Debit.all.uniq {|debit| debit[:title] }.each do |debit| %>
        <option value="<%= debit[:title] %>">
      <% end %>
    </datalist>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, pattern: "[0-9]+([\.,][0-9]+)?", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :paid %>
    <%= form.check_box :paid, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, list: "debit_owner", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <datalist id="debit_owner">
      <% Owner.all.each do |owner| %>
        <option value="<%= owner[:name].capitalize %>">
      <% end %>
    </datalist>
  </div>

  <div class="my-5">
    <%= form.label :mês_id %>
    <% if Month.all.empty? %>
      <%= form.text_field :mês_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% else %>
      <%= form.select :month_id, Month.all.order(Arel.sql("id = #{month_id} DESC")).collect { |o| [ o.name, o.id ] }, {}, {include_blank: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit "Criar um novo debito", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
