<%= render 'layouts/header' %>

<%= render 'layouts/container' do %>
  <h1 class="font-bold text-4xl">Atualizando um debito</h1>

  <% if notice.present? %>
    <% notice.split(',').each do |n| %>
      <div>
        <p class="py-2 px-3 bg-red-50 mt-2 mb-2 text-red-500 font-medium rounded-lg inline  -block" id=  "notice"><%= n %></p>
      </div>
    <% end %>
  <% end %>

  <%= render "form", debit: @debit, month_id: @month_id, button_text: 'Atualizar o debito' %>
  <%= link_to "Voltar", month_path(@month_id), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %>
<% end %>
