<%= render 'layouts/header' %>

<%= render 'layouts/container' do %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render 'layouts/header_title', title: "Listagem do ano #{@year.name}", path: new_month_path %>

  <% unless @months.empty? %>
    <div class="w-full flex flex-wrap">
      <% @months.each do |month| %>
        <%= link_to month_path(month) do %>
          <div class="h-full mb-10 ml-10">
            <%= render 'layouts/card' do %>
              <%= render "layouts/card_header", initials: month.name[0].upcase, label: "Nome do mês:", title: month.name.capitalize %>

              <% unless month.debit.empty? %>
                <h2 class="text-xl">
                  <span class="text-lg text-gray-400">
                    Total do mês:
                  </span>
                  <%= number_to_brl(month.total) %>
                </h2>

                <% month.total_per_owner.each do |d| %>
                  <h2 class="text-xl">
                    <span class="text-lg text-gray-400">
                      Total do pagante <%= d[:owner].capitalize %>:
                    </span>
                    <%= number_to_brl(d[:total]) %>
                  </h2>
                <% end %>
              <% end %>

              <div class="flex items-start justify-start">
                <%= link_to month_path(month), data: { "turbo-method": :delete }, class: "mr-5" do %>
                  <%= render 'layouts/delete_icon', color: 'black' %>
                <% end %>

                <%= link_to edit_month_path(month, year_id: @year.id) do %>
                  <%= render 'layouts/edit_icon', color: 'black' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
